/* .center{
    width:200px;
    height:100px;
    margin:0 auto;
} */
.div-1 {
    width: 350px;
    height:350px;
    border: solid 1px red;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 3px;
}
.strelka{
    margin: 5px 5px;
}

.container {
    display: block;
}
.i-1 {
display:block;
margin:0 auto;
}